@font-face {
    font-family: 'Hidayatullah DEMO';
    src: url('./fonts/HidayatullahDEMO.woff') format('woff2'),
        url('./fonts/HidayatullahDEMO.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: rgb(146, 217, 238);
}



#sunnah{
    background-image: linear-gradient(to right, rgba(12, 184, 69, 0.733), rgba(240, 32, 160, 0.753));
}

.text{
    display: flex;
    justify-content: center;
    font-family: 'Hidayatullah DEMO';
}
